  <div class="row" style="">
    <div class="" style="">
      <ul class="nav nav-tabs site-nav-tabs" style="">

        {{#each navItem in navItems}}
          <li {{bind-attr class=navItem.class }} >
            {{#link-to navItem.route navItem.params }} {{navItem.name}} {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>