<div class="topic-container">

  <div class="topic-details">

    <h1 class="topic-title">{{ model.title }}
  </h1>

    <div class="posts">

      <div class="row">
        <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
          <div class='posts-wrapper'>

            {{#each postModel in postModels }} {{post-details  openModalAction='openModal' 
            postModel=postModel }} {{/each}}

          </div>
        </section>
      </div>
    </div>



  </div>

</div>


