<div class="row reader-intro-row">
  <div class="col-md-2">
    <div class="reader-intro-arrow">
      <span>
        <
      </span>
    </div>
    
  </div>
  <div class="col-md-10">
    <div class="reader-intro">

    <p class="reader-intro-call">
      Select a site from this list to start reading.
    </p>
    <p>
            
    </p>

</div>

  </div>
</div>